<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('partials/head.ejs') %>
<title>Session Delete</title>

<body>
    <!-- header -->

    <main>

        <section class="startSessionButton">
            <div class="sessionButton">
                <a href="/">Delete Session</a>
            </div>


        </section>





    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>