<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('partials/head.ejs') %>
<title>New profile</title>

<body class="bgpink">
    <!-- header -->
    <%- include('partials/header.ejs') %>
    <main>

    
        <%- include('partials/form.ejs') %>

    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>