<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('partials/head.ejs') %>
<title><!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('partials/head.ejs') %>
<title>Question Result</title>

<body>
    <!-- header -->
    <%- include('partials/header.ejs') %>
    <main>

        <!-- slindingProfiles -->
        <section class="profiles">

            <div class="full hide-scroll">
                <ul class="hs">

                    

                    <li class="profile">
                        <div class="overlay-blur add-blur-3">
                            <img class="the-profile" src="/assets/images/overlay.png" alt="overlay filter">
                        </div>

                        <img src="/assets/images/stock-photo-1.jpg" alt="photo">

                        <article class="profile-info">
                            <h1 class="space">Question result</h1>
                            <h3 class="space">ProfileName chose answer </h2>
                            <h3 class="space">ProfileName chose answer </h3>
                            <h3 class="space">ProfileName chose answer </h3>
                           
                        </article>

                        <a href="question-result" class="quest-button">
                            Next
                        </a>

                        
                    </li>
                </ul>

                <div class="status">
                    <div class="counter dLike">
                        <h2>10</h2>
                        <h3>Dislike</h3>
                    </div>
                    <div class="counter like">
                        <h2>10</h2>
                        <h3>Like</h3>
                    </div>
                </div>
        </section>

    </main>
    <%- include('partials/footer.ejs') %>
</body>
