<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('partials/head.ejs') %>
<title>index</title>

<body>
    <!-- header -->
    <%- include('partials/header.ejs') %>
    <main>

        <!-- slindingProfiles -->
       <h1> edit form input</h1>

    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>