<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('partials/head.ejs') %>
<title>index</title>

<body>
    <!-- header -->
    <%- include('partials/header.ejs') %>
    <main>

        <!-- slindingProfiles -->
       <article class="user">
        <h1>   ingelogd als  <%=profile.profileName%> </h1>

       </article>

    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>