<form id="mForm" method="post" action="/base/index.ejs">
    <label for="firstname">Naam</label>
    <input type="text" placeholder="John Doe" id="firstname" name="firstname" required>

    <label for="city">Stad</label>
    <input type="text" placeholder="Amsterdam" id="city" name="city" required>

    <label for="age">Leeftijd</label>
    <input type="number" placeholder="20" id="age" name="age" required>


    <label for="message">Beschrijving</label>

    <textarea id="message" placeholder="Vertel iets over jezelf" name="message"></textarea>
    <h3 class="space">Quistions</h3>

    <% for(var i=0; i < questions.length; i++) { %>
        <br>
    <h4> <%= questions[i].question %></h4>

    <% for(var optionIndex=0; optionIndex < questions[i].options.length; optionIndex++) { %> <br>
    <input type="radio" id="answer-1" name="dinner-guest" value="option-1">
    <label for="option-1"> <%=  questions[i].options[optionIndex]%></label><br>
    <% } %>



    <% } %>







    <input id="submit" type="submit" value="Aanmelden">
</form>