<form id="mForm" method="post" action="/base/index.ejs">
    <label for="firstname">Naam</label>
    <input type="text" placeholder="John Doe" id="firstname" name="firstname" required>

    <label for="city">Stad</label>
    <input type="text" placeholder="Amsterdam" id="city" name="city" required>

    <label for="age">Leeftijd</label>
    <input type="number" placeholder="20" id="age" name="age" required>


    <label for="message">Beschrijving</label>
    
    <textarea id="message" placeholder="Vertel iets over jezelf" name="message"></textarea>


  
        <p>Select some quistions</p>
        <br>

        <!-- question-1 -->
        <input type="radio" id="question-1" name="dinner-guest" value="">
        <label for="">Wich of the persons below is most likly to be a dinner guest at your home?</label><br>
        
        <input type="radio" id="answer-1" name="dinner-guest" value="option-1">
        <label for="option-1"> Option-1</label><br>

        <input type="radio" id="answer-2" name="dinner-guest" value="option-2">
        <label for="option-1"> Option-2</label><br>

        <input type="radio" id="answer-3" name="dinner-guest" value="option-3">
        <label for="option-1"> Option-3</label><br>
        <!-- question-1 -->
        
        <!-- question-2 -->
       

        <!-- question-2 -->
        <!-- question-3 -->
        
        <!-- question-3 -->

    
     

    

    <input id="submit" type="submit"  value="Aanmelden">
</form>