<form id="mForm" method="post" action="/">
    <label for="firstname">Naam</label>
    <input type="text" id="firstname" name="firstname" required>

    <label for="city">Stad</label>
    <input type="text" id="city" name="city" required>

    <label for="age">Leeftijd</label>
    <input type="number" id="age" name="age" required>

    <label for="message">Beschrijving</label>
    
    <textarea id="message" name="message"></textarea>

    <input id="submit" type="submit"  value="Aanmelden">
</form>