<header>
  <nav>
    <ul>
      <li>
        <a href="profiles">
          <img src="/assets/icons/home.svg" alt="Home ">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/icons/message.svg" alt="chat">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/icons/flash.svg" alt="settings">
        </a>
      </li>
    </ul>
  </nav>

  <a href="/deleteSession">
    <div class="logo">
      <h2>Hallo </h2>

      <img src="/assets/icons/boy.svg" alt="Profile">

    </div>
  </a>
</header>