<header>
  <nav>
    <ul>
      <li>
        <a href="#">
          <img src="/assets/icons/home.svg" alt="Home ">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/icons/message.svg" alt="chat">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/icons/flash.svg" alt="settings">
        </a>
      </li>
    </ul>
  </nav>
</header>